#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
}

.bg-gradient-panel {
  background-image: linear-gradient(
    180deg,
    rgba(171, 151, 251, 0.08) 34.34%,
    rgba(199, 186, 252, 0.08) 100%
  );
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
